*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);

    --br : 5px;

    --fw400 : 400;
    --fw700 : 700;

    --ff-big : "Big Shoulders Display", sans-serif;
    --ff-lex : "Lexend Deca", sans-serif;
}   

P{
    font-size: 15px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-headings-buttons);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrap{
    width: 700px;
    min-height: 400px;
    background-color: lightsalmon;
    border-radius: var(--br);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 2rem;
}

.card-1{
    background-color: var(--Bright-orange);
}

.card-2{
    background-color: var(--Dark-cyan);
}

.card-3{
    background-color: var(--Very-dark-cyan);
}

.icon{
    width: 55px;
}

.name{
    font-family: var(--ff-big);
    font-size: 32px;
    font-weight: var(--fw700);
    text-transform: uppercase;
    color: var(--background-headings-buttons);
}

.desc{
    font-family: var(--ff-lex);
    color: var(--paragraphs);
    font-size: 14px;
}

.button{
    margin-top: 2rem;
    width: 75%;
    padding: 0.75rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
    border: 2px solid var(--background-headings-buttons);
    font-family: var(--ff-lex);
}

.button:hover{
    background-color: transparent;
    color: var(--background-headings-buttons);
}

.btn-1{
    color: var(--Bright-orange);
}

.btn-2{
    color: var(--Dark-cyan);
}

.btn-3{
    color: var(--Very-dark-cyan);
}

/* mobile design */

@media screen and (max-width : 760px) {
    .card-wrap{
        width: 98%;
        grid-template-columns: 1fr;
    }
    .card{
        height: auto;
    }
}